table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d1e7dd;
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; /* Открываем поверх остального содержимого */
    z-index: 1; /* Учитываем порядок отображения */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включаем прокрутку в случае переполнения */
    background-color: rgb(0, 0, 0); /* Черный фон */
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон */
}

/* Модальное содержимое */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}

/* Кнопка закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}